body{
    background-image: url(https://i.pinimg.com/564x/e5/e2/24/e5e224e2dd4d13497cd66ea4cff0f1f9.jpg);
    background-blend-mode: luminosity; 
    font-family: 'Josefin Sans', sans-serif;
    color:#ffffff ;

}

img{
    align-items: center;
    text-align: center;
    width: 65%;
    height: 65%;
    border-radius: 15%;
    text-align: justify;
    padding-left: 32%;
    padding-right: 30%;
    
}

.title-astrobiologia{
    font-size: 50px;
    color: rgb(227, 203, 244);
    text-align: justify;
}

.p-origen{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    text-align: justify;
}

.title-misiones{
    color:rgb(233, 183, 251) ; 
}

.title-universo{
    font-size: 45px;
    color: rgb(227, 203, 244);
}

.title-masivas{
    color:rgb(233, 183, 251)  ; 
}

.title-estrellas{
    font-size: 45px;
    color: rgb(255, 225, 252);
    text-align: justify;
}

.main-title{
    font-family: 'Audiowide', cursive;
    font-size: 60px;
    color: rgb(253, 209, 247);
    text-align: justify;
    text-align: center;
    

}

.p-astrobiologia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    text-align: justify;
}

.p-estrellas{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
    text-align: justify;
}

.sombra {
    border-radius: 15%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    padding-left: 30%;
    padding-right: 30%;
}

/*FOOTER*/

/*Waves*/

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
  }
  /* Animation */
  .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
  }
  .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
  }
  
  /*Other*/
  
  .unique-color-dark {
    background-color: #7289da !important;
  }
  
  .bg-light {
    background-color: #7289DA !important;
  }
  
  .navbar-brand {
    color: white;
  }
  
  .custom-color {
    background-color: #380232 !important
  }
/*
selector{
    propiedad: valor:
}
*/